// COLORS
$color-white: #fefefe;
$color-primary: #0ccac4;
$color-secondary: #071b52;

// FONT SIZES
$font-size-default: 1.6rem;

// RESPONSIVE BREAKPOINTS
// (not used in this project)
// $bp-largest: 1200px; // 75em
// $bp-large: 1000px; // 62.5em
// $bp-medium: 800px; // 50em
// $bp-small: 600px; // 37.5em

// GRADIENTS
$gradient-primary: linear-gradient(to right, $color-primary, $color-secondary);
